add_newline = true

# ----------------------------------------------------
# format
# ----------------------------------------------------
format = """
$directory\
$git_branch\
$git_status\
${custom.make}\
$direnv\
$fill\
$cmd_duration\
$time\
\n$character\
"""

# ----------------------------------------------------
# left module
# ----------------------------------------------------

[fill]
symbol = '─'

[directory]
truncation_length = 2
truncation_symbol = ' '
truncate_to_repo = false
home_symbol = '~'
read_only = ' 󰌾 '
format = """
[](fg:#1d2230)\
[$path]($style)\
[$read_only]($read_only_style)\
[](fg:#1d2230)\
"""
style = 'bold fg:#e0af68 bg:#1d2230'
read_only_style = 'bold fg:#e0af68 bg:#1d2230'

[custom.make]
detect_files = ["Makefile", "makefile", "GNUmakefile"]
command = "echo ' make'"
style = "bold fg:#e0af68 bg:#1d2230"
format = """
[](fg:#1d2230)\
[make$all_status]($style)\
[](fg:#1d2230)\
"""

[git_branch]
symbol = ""
style = "fg:#769ff0 bg:#1d2230"
format = """
[](fg:#1d2230)\
[$symbol $branch]($style)\
"""

[git_status]
style = "fg:#769ff0 bg:#1d2230"
format = """
[$all_status$ahead_behind]($style)\
[](fg:#1d2230)\
"""

# ----------------------------------------------------
# right module
# ----------------------------------------------------
[cmd_duration]
min_time = 1
style = 'fg:#e0af68'
format = "[ $duration]($style)"

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
format = '[[  $time](fg:#a0a9cb)]($style)'

# ----------------------------------------------------
# prompt module
# ----------------------------------------------------
[character]
success_symbol = "[❯](bold fg:#ae8b2d) "
error_symbol   = "[❯](bold red) "
vimcmd_symbol  = "[V](bold green) "
